canvas {
    display: block;
    margin: 0 auto;
    padding: 30px;
}

body {
    background-image: url(/img/Black_snake.jpg);
    background-repeat: no-repeat;
    text-align: center;
    max-width: 100%;
    object-fit: cover;

}

h1 {
    color: white;
    padding-right: 70%;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 70px;
}